body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 70px;
    font-weight: 600;
}

    /* banner part starts here */

.banner{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)) , url(images/donation7.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: white;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-left: 20%;
}
p{
  margin-top: -5%;
}
.link-button{
    background: linear-gradient(maroon,tomato);
    text-decoration: none;

    margin-left: 30%;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

    /* banner part ends here */

    /* donate today starts here */

.donate-today{
    height: 80vh;
}
#donate{
    color: black;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    margin-top: 8%;
    margin-left: 40%;
}
#donate-para{
    color: grey;
    font-weight: 200;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15%;
}
.flex-container{
    display: flex;
    margin-left: 18%;
    margin-right: 20%;
    padding-bottom: 70px;
}
#number {
    width: 60%;
    padding: 10px;
    margin-left: 290px;
    margin-bottom: 50px;
}
.link-button-2{
    background: linear-gradient(maroon,tomato);
    text-decoration: none;
    margin-left: 45%;
    padding:15px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
} 


/* donate today ends here */

/* donation plan starts here */

#donate-plan{
    color: black;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 5%;
}

#donate-plan-para{
    color: grey;
    font-weight: 200;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15%;
    padding-top: 50px;
}

.amount{
    width: 40%;
    margin-right: 20px;
    padding: 50px;
    background-color: rgba(59, 56, 56, 0.062);
    border-radius: 10px;
    color: gray;
    font-size: 25px;
    font-weight: 900;
  }
  #div-500{
    border: 2px solid tomato;
    background-color: rgba(255, 38, 0, 0.319);
    color: rgb(255, 115, 115);
  }

.donation-plan{
    margin-bottom: 130px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.donation-plan h1{
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: rgb(2, 3, 3);
}
.donation-plan p{
    font-size: 20px;
    text-align: center;
    color: rgb(128, 128, 128);
    padding-bottom: 50px;
}
.three-section{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 70px;
}
.each-section{
    width: 40%;
    margin-right: 20px;
    padding-top: 25px;
    padding-left: 10px;
    background-color: rgba(59,56,56,0.062);
    color: rgb(24, 22, 22);
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
}
.each-section p{
    font-size: 15px;
    text-align: left;
    color: grey;
}
#food-section{
    background-color: rgba(135, 206, 250, 0.199);
}
#shelter-section{
    background-color: rgba(255, 192, 203, 0.253);
}
#education-section{
    background-color: rgba(255, 166, 0, 0.158);
}

/* donation plan ends here */

/* get my update section starts here */

.update-section {
    margin-bottom: 120px;
}

.update-section h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 3%;
    text-align: center;
    color: rgb(2, 3, 3);
}

.update-section p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: gray;
    padding-bottom: 20px;
}

form {
    background-color: rgba(255, 166, 0, 0.158);
    margin-left: 300px;
    margin-right: 300px;
    padding: 80px;
    padding-left: 13%;
}

#email-id {
    padding: 15px;
    width: 55%;
    border: none;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.336);
}

#button-id {
    padding-top: 13px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-left: -5px;
    border: none;
    font-size: 20px;
    background: linear-gradient(maroon,tomato);
    color: whitesmoke;
    border-radius: 5px;
}

/* get my update section ends here */

/* footer starts here */

footer {
    position: center;
    background-color: black;
    padding: 5%;
}

footer span {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    color:salmon ;
    font-size: 40px;
}
footer p {
    text-align: center;
    color: gray;
    padding-top: 40px;
}

/* footer ends here */